h1 {
    background-color: aqua;
    font-family: fantasy;
    font-size: 60px;
}
.btn {
    border-radius: 50%;
    background-color: lightblue;
    color:silver;
    opacity: 20%;
}

#movies {
    float:left;
}
.container {
    padding:5px;
    border:0px;
}